<fs-list [config]="listConfig" #listConfigEl>
  <fs-list-column>
    <ng-template fs-list-header>Name</ng-template>
    <ng-template fs-list-cell let-row="row">
      {{ row.name }} <div class="description">{{ row.description }}</div>
    </ng-template>
  </fs-list-column>
  <fs-list-column align="center">
    <ng-template fs-list-header>Required</ng-template>
    <ng-template fs-list-cell let-row="row">
      <mat-icon *ngIf="row.validations.required">check</mat-icon>
    </ng-template>
  </fs-list-column>
  <fs-list-column>
    <ng-template fs-list-header>Validations</ng-template>
    <ng-template fs-list-cell let-row="row">
      <ng-container *ngFor="let item of row.validationsArray">
        <div *ngIf="item.key != 'required'">
          <span *ngIf="item.key == 'values'">Valid values: {{ item.value.join(", ") }}</span>
          <span *ngIf="item.key!= 'values'">Valid {{ item.key }}</span>
        </div>
      </ng-container>
    </ng-template>
  </fs-list-column>
</fs-list>
